/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap'); */

* {
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
}

.navbar,
.bg-color {
    background-color: #FFFBF0;
}


/* header styles */

.nav-link {
    color: #3C3C3C;
    font-weight: 500;
}


/* header styles */


/* common styles */

.heading {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    line-height: 1em;
}


/* common styles */


/*banner styles */

.highlight {
    color: #FABE4C;
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    line-height: 1em;
}

.one {
    color: #FABE4C;
}

.two {
    color: #363958;
}

.btn.buy-now {
    color: white;
    font-weight: 600;
    background-image: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    padding: 1em 1em;
    border-radius: 0.65em;
}

.fas {
    color: white;
}


/*banner styles */


/* woman jacket styles */

.jacket-image {
    background-color: #F1F1F1;
}

.jacket-header {
    color: #363958;
    ;
}

.price {
    font-size: 2.5em;
    font-weight: 900;
}


/* woman jacket styles */